.carausel-section {
    /* margin-top: 3rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 30%;
    height: 36dvh; 
    background-color: #1b252c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.text-container h1 {
    color: white;
    margin: 0;
    letter-spacing: 3px;
    font-size: xx-large;
    font-family: "Wittgenstein", serif;
}

.second-h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: blue;
    position: relative;
    bottom: -60px;
}

.image-container {
    width: 70%;
}

.image-container img {
    width: 100%;
    height: 40vh; 
}

/* Responsivness */

/* Mobile */
@media  (max-width: 767px) {
    .carausel-section {
        flex-direction: column-reverse;
        height: 40dvh;
    }

    .text-container {
        width: 80%; 
        padding: 3rem 0px;
        /* height: 40dvh; */
        position: relative;
        top: -60px; 
    }
    .image-container{
        width: 100%;
        margin: 0px !important;
        padding: 0px !important ;
    }
    .image-container img {
        /* width: 100%; */
        height: 30vh; 
    }
    .text-container h1 {
        margin-top: -1rem;
    }
    .second-h1{
        padding-bottom: 0.5rem;
        /* margin-bottom: 100rem; */
    }
    .second-h1::after{
        bottom: -45px;
    }
 
 }
 