.filters-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%;
    height: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    flex-direction: column;
    animation: slideInFromRight 0.5s ease forwards;
}

@keyframes slideInFromRight {
    to {
        right: 0;
    }
}


#filters-mobile{
    width: 100%;
    position: absolute;
    top: 5px;
    left: 0px;
}


.filters-menu .close-menu {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
    /* font-weight: lighter; */
    z-index: 3000;
}

.filter-menu-hr {
    margin: 10px 0;
}



.show-filters-menu {
    display: flex;
}

.see-results{
    border: none;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 40%;
    align-items: center;
    /* text-align: center; */
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 1rem;
    /* margin-left: 2rem; */
}

.mobile-filter-sort{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter-sort-text{
    font-size: 18px;
    margin-left: 5px;
    text-decoration: underline;
    /* border-bottom: ; */
}

.mobile-filter-sort-section{
    display: none;
}

/* Mobile */
@media (max-width: 767px) {
   
    .mobile-filter-sort-section{
        display: block;
    }
 }
